body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

 .navbar {
    height: 5rem;
    background-color: white;
 }

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brands {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}


.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse; /* Ensures hover works from left to right */
    justify-content: flex-end;
    gap: 4px;
}

.star-rating input {
    display: none; /* Hide radio buttons */
}

.star-rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.15s ease-in-out;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107; /* Highlight color */
}

.star-rating label:hover {
    transform: scale(1.1); /* Slight zoom on hover for better UX */
}

.star {
  font-size: 20px;      /* same size for all */
  color: #ccc;          /* empty star color */
}
.star.filled {
  color: gold;          /* filled star color */
}


#map {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }